{% extends "base.html" %}

{%- block main -%}
  <main>
    <h1>#{{ term.name }} (<a href={{ get_url(path="atom.xml") }}>📰 feed</a>)</h1>

    <ul class="posts">
      {%- for page in term.pages %}
        <li>
          <span>
            <i>
              <time datetime="{{ page.date | date(format='%+') }}" pubdate>
                {{ page.date | date(format=config.extra.date_format) }}
              </time>
            </i>
          </span>
          <a href="{{ page.permalink }}">{{ page.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </main>
{%- endblock -%}
